HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Indexing Lucene we dont want on Git ###
*.dvm
*.dvd
*.doc
*.tim
*.tip
*.tmd
*.cfe
*.cfs
*.si
*.fdt
*.fdm
*.fdx
*.fnm
*.lock
segments_*
*.nvd
*.nvm
*.pos

Book/
Comic/
Figure/
Film/
Game/